
<mat-expansion-panel class="mat-elevation-z8">
  <mat-expansion-panel-header expandedHeight="120px" collapsedHeight="70px">
    <mat-panel-title>
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/img/{{ work.logo }}" alt="logo" class="logo" fxFlex="60px">
        <!-- <svg viewBox="0 0 50 50" class="logo">
          <use xlink:href="/assets/logos.svg#man"></use>
        </svg> -->
        <b>{{ work.company }}</b>
      </div>
    </mat-panel-title>
    <mat-panel-description fxLayout="column" fxLayoutAlign="center end">
      <span>{{ work.position }} </span>
      <span>{{ work.startDate | date:'MM.yyyy' }} - {{ work.endDate | date:'MM.yyyy' }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <ul class="responsibilities">
    <li *ngFor="let r of work.resps">{{ r }}</li>
  </ul>
</mat-expansion-panel>
