
<mat-expansion-panel class="mat-elevation-z8">
  <mat-expansion-panel-header expandedHeight="120px" collapsedHeight="70px">
    <mat-panel-title>
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="/assets/img/{{ work.logo }}" alt="logo" class="logo" fxFlex="60px" fxHide.lt-sm="true">
        <b>{{ work.company }}</b>
      </div>
    </mat-panel-title>
    <mat-panel-description fxLayout="column" fxLayoutAlign="center end" fxHide.lt-sm="true">
      <span>{{ work.position }} </span>
      <span>{{ work.startDate | date:'MM.yyyy' }} - {{ work.endDate | date:'MM.yyyy' }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-panel-description fxLayout="column" fxLayoutAlign="center center" fxHide.gt-sm="true" class="mobile">
    <span>{{ work.position }}</span>
    <span>{{ work.startDate | date:'MM.yyyy' }} - {{ work.endDate | date:'MM.yyyy' }}</span>
  </mat-panel-description>
  <ul class="responsibilities">
    <li *ngFor="let r of work.resps">{{ r }}</li>
  </ul>
</mat-expansion-panel>
