<section class="contact">
  <div class="section__title">
      <h2>{{ 'contact.title' | translate }}</h2>
  </div>

  <h4>{{ 'contact.main' | translate }}</h4>

  <div class="contact__box mat-elevation-z8">
    <form (ngSubmit)="onSubmit(f)" #f=ngForm fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center center">
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
              <input 
                matInput 
                placeholder="{{ 'contact.name' | translate }}"
                ngModel
                required
                name="name"
                #nameInput="ngModel">
                <mat-error *ngIf="nameInput.hasError('required')">{{ 'contact.nameEmpty' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input 
                matInput 
                placeholder="{{ 'contact.mail' | translate }}"
                ngModel
                [pattern]="pat"
                required
                name="email"
                #emailInput="ngModel">
                <mat-error *ngIf="emailInput.hasError('required')">{{ 'contact.mailEmpty' | translate }}</mat-error>
                <mat-error *ngIf="!emailInput.hasError('required')">{{ 'contact.mailInvalid' | translate }}</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field class="area">
            <textarea 
              matInput 
              placeholder="Textarea"
              ngModel
              required
              name="query"
              matTextareaAutosize matAutosizeMinRows="5"
              #queryInput="ngModel"></textarea>
              <mat-error *ngIf="queryInput.hasError('required')">{{ 'contact.queryEmpty' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">{{ 'contact.send' | translate }}</button>  
      </form>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" class="socials">
      <a href="https://www.linkedin.com/in/arturmaciejaszek" mat-fab color="accent">
        <svg viewBox="0 0 200 200" class="logo">
          <use xlink:href="/assets/logos.svg#linkedin"></use>
        </svg>
      </a>
      <a href="https://github.com/arturmaciejaszek" mat-fab color="accent">
        <svg viewBox="0 0 1000 1000" class="logo">
          <use xlink:href="/assets/logos.svg#github"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com/artur.maciejaszek" mat-fab color="accent">
        <svg viewBox="0 0 25 25" class="logo">
          <use xlink:href="/assets/logos.svg#facebook"></use>
        </svg>
      </a>
  </div>

</section>
