.contact {
    min-height: 50vh;
    margin-bottom: 4rem;

    &__box {
        min-height: 22rem;
        width: 80%;
        margin: 1rem auto;
        padding: 2rem;
    }

}

.sent {
    color: green;
}

form {
    // height: 80%;

    & > div {
        height: 100%;
        width: 100%;
    }

    & > button {
        margin-top: 1.5rem;
    }
}

.area {
    min-width: 25vw;
}

.logo {
    height: 2rem;
    width: auto;
}

.socials {
    margin-top: 4rem;
}
