.skills {


    &__container {
        min-height: 70vh;
        max-height: 500px;
    }

    &__display {
        min-height: 60vh;
        width: 100%;
        overflow: hidden;
    }
}


mat-tab-group {
    margin-top: 3rem;
}

@media screen and (max-width: 599px) {
    .skills{
        &__container {
            max-height: none;
        }
    }
    mat-tab-group {
        width: 100%;
    }
}