.skills {
    // min-height: 70vh;

    &__container {
        min-height: 70vh;
        max-height: 500px;
    }

    &__display {
        min-height: 60vh;
        width: 100%;
        overflow: hidden;
    }
}

mat-card {
    height: 40vh;
    width: 15vw;
    max-width: 200px;
    max-height: 300px;
}

mat-tab-group {
    margin-top: 3rem;
}

// .star {
//     color: yellow;
//     transform: scale(1.1);
// }

// .half {
//     color: yellow;
//     transform: scale(1.1);
// }
