<div fxLayoutAlign="center" fxLayout="column">

  <!-- HEADER -->
  <div class="shadow">
    <header class="header" fxLayout="row" fxLayoutAlign="center">
      <h1 fxFlex>Artur Roman Maciejaszek</h1>
    </header>
  </div>

  <!-- MAIN -->
  <main>
    <app-welcome></app-welcome>
    <mat-divider></mat-divider>
    <app-skills></app-skills>
    <mat-divider></mat-divider>
    <app-work></app-work>
    <mat-divider></mat-divider>
    <app-education></app-education>
    <mat-divider></mat-divider>
    <app-portfolio></app-portfolio>
    <mat-divider></mat-divider>
    <app-contact></app-contact>
  </main>

  <!-- FOOTER -->
  <footer fxLayout="row">
    <div fxLayout="row" fxLayoutAlign="center center">
      <img fxLayoutAlign="center center" src="./assets/img/am.webp" onerror="this.onerror=null; this.src='./assets/img/am.png'"
        alt="{{ 'footer.alt' | translate }}">
      <p>{{ 'footer.text' | translate }}</p>
    </div>
    <span fxFlex></span>
    <div fxLayout="row" fxLayoutAlign="center center">
      <p>{{ 'footer.lang' | translate}}</p>
      <select [(ngModel)]="language" (ngModelChange)="onChange($event)">
        <option *ngFor="let lang of langs" [ngValue]="lang">{{lang}}</option>
      </select>
    </div>
  </footer>

</div>
